h1 {
  margin-bottom: .5em;
}

h3:hover {
  cursor: pointer;
  color: #43a4d4;
}

.panel-heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.panel-heading h3 {
  margin-top: .4em;
}
