<h1 *ngIf="!listKey">{{(player | async).name}}</h1>
<h4>Schedule:</h4>
<table class="table">
  <tr>
    <th *ngFor="let day of days">{{capitalize(day)}}</th>
  </tr>
  <tr>
    <td *ngFor="let day of days">
      <span *ngIf="(player | async).daysFree[day]" class="free">Free</span>
      <span *ngIf="!(player | async).daysFree[day]" class="busy">Busy</span>
    </td>
  </tr>
</table>
<h4>Games Enjoyed:</h4>
<ul>
  <li *ngFor="let type of (player | async).gameTypes">
    {{type}}
  </li>
</ul>
<h4>Favorite Game: {{(player | async).favoriteGame}}</h4>
