/* You can add global styles to this file, and also import other style files */

.container {
  color: #094361;
}

.checkboxes h5 {
  font-weight: bolder;
  margin-top: 0px;
}

.checkboxes label {
  font-weight: normal;
}
