/* You can add global styles to this file, and also import other style files */

.container {
  color: #094361;
  max-width: 700px;
}

.checkboxes h5 {
  font-weight: bolder;
  margin-top: 0px;
}

.checkboxes label {
  font-weight: normal;
}

#navbar {
  background-color: #1e4b73;
}

#navbar a {
  color: #88a6bf;
}

#navbar a:hover {
  color: #a9cbe8;
}

@media screen and (max-width: 767px) {
  #navbar .navbar-header {
    display: flex;
    justify-content: center;
  }

  #navbar .navbar-right {
    display: flex;
    justify-content: space-around;
  }

  #navbar a {
    padding: 2px;
  }
}
