/* You can add global styles to this file, and also import other style files */

.container {
  color: #094361;
  max-width: 700px;
}

.checkboxes h5 {
  font-weight: bolder;
  margin-top: 0px;
}

.checkboxes label {
  font-weight: normal;
}

#navbar {
  background-color: #4f7284;
}

#navbar a {
  color: #e8f3f9;
}

#navbar a:hover {
  color: #adc3d0;
}
