<h1>Add an Event</h1>

<form>
  <div class="form-group">
    <label for="name">Name:</label>
    <input #name name="name" class="form-control">
  </div>

  <div class="form-group">
    <label for="location">Location:</label>
    <input #location name="location" class="form-control">
  </div>

  <div class="custom-row">
    <div class="custom-col-xs-6 form-group checkboxes">
      <h5>Event Game Types:</h5>
      <div *ngFor="let gameType of gameTypeNames" (click)="togglePref(gameType)">
        <input *ngIf="gameTypes.includes(gameType)" type="checkbox" checked name="gameType">
        <input *ngIf="!gameTypes.includes(gameType)" type="checkbox" name="gameType">
        <label [for]="gameType">{{gameType | capitalization}}</label>
      </div>
    </div>

    <div class="custom-col-xs-6 form-group">
      <div class="alert alert-info">
        <h5>Suggested Days for this Event:</h5>
        <p *ngIf="gameTypes.length === 0">
          Please select game types for suggestions.
        </p>
        <ul *ngIf="gameTypes.length > 0">
          <li *ngFor="let output of players | async | playerInterest:gameTypes | bestDays:days">
            {{output[0] | capitalization}}
          </li>
        </ul>
      </div>
      <label for="date">Date:</label>
      <input #date type="date" name="date" class="form-control">
    </div>
  </div>

  <button (click)="addEvent(name.value, location.value, date.value); name.value=''; location.value=''; date.value=''" type="button" class="btn btn-primary">Submit</button>
</form>
