.custom-row {
  display: flex;
  flex-wrap: wrap;
}

.custom-col-xs-6 {
  width: 50%;
  min-width: 140px;
}

.alert h5 {
  margin-top: 0px;
}

@media screen and (max-width: 309px) {
  .custom-col-xs-6 {
    width: 100%;
  }
}
